body{
    background-color: aqua;
    height: 100vh;
    
}
.chuck{
    position:relative;
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
}
#data {
    width: 600px;
    width: 100vh;
    border: 1px dashed black;
    font-size: 20px;
    font-family:cursive;
    font-weight:lighter;
    text-align:center;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    
}

.hide{
  background-color: bisque;
  position:absolute;
  top: 10%;
  left: 50%;
  font-size: 50px;
  font-family: cursive;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}


#logo{
    width: 50px;
}
#logo1{
    width: 50px;
}
#logo2{
    width: 50px;
}
#logo3{
    width: 50px;
}
#logo4{
    width: 50px;
}
#logo5{
    width: 50px;
}
#logo6{
    width: 50px;
}

.categories {
    padding: 30px;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
    align-content: space-between;
  }

  .hide {
    display: none;
  }
  
  .categories #logo:hover + .hide {
    display:block;
    color: black;
    border: 1px dashed black;
    padding: 10px;
    font-family:cursive;
    font-weight: 300;
    font-size: 20px;
    
  }
  .categories #logo1:hover + .hide {
    display:block;
    color: black;
    border: 1px dashed black;
    padding: 10px;
    font-family:cursive;
    font-weight: 300;
    font-size: 20px;
    
  }
  .categories #logo2:hover + .hide {
    display:block;
    color: black;
    border: 1px dashed black;
    padding: 10px;
    font-family:cursive;
    font-weight: 300;
    font-size: 20px;
    
  }
  .categories #logo3:hover + .hide {
    display:block;
    color: black;
    border: 1px dashed black;
    padding: 10px;
    font-family:cursive;
    font-weight: 300;
    font-size: 20px;
    
  }
  .categories #logo4:hover + .hide {
    display:block;
    color: black;
    border: 1px dashed black;
    padding: 10px;
    font-family:cursive;
    font-weight: 300;
    font-size: 20px;
    
  }
  .categories #logo5:hover + .hide {
    display:block;
    color: black;
    border: 1px dashed black;
    padding: 10px;
    font-family:cursive;
    font-weight: 300;
    font-size: 20px;
    
  }
  .categories #logo6:hover + .hide {
    display:block;
    color: black;
    border: 1px dashed black;
    padding: 10px;
    font-family:cursive;
    font-weight: 300;
    font-size: 20px;
    
  }

  @media only screen and (max-width:700px){
    .chuck, .categories,#data {
        width: 100%;
    }
  }
